@import url(https://fonts.googleapis.com/css2?family=Paytone+One&display=swap);
@import url(https://fonts.googleapis.com/css2?family=Inter&display=swap);
@import "tailwindcss";

html {
  scroll-behavior: smooth;
  scroll-padding-top: 100px;
}

body {
  font-family: 'Montserrat', sans-serif;
  background-color: #F4F4F6;
}

.marked-text {
  color: #1A00E1;
}
 .navbar {
  clip-path: polygon(0 0, 100% 0, 100% 400%, 0 100%, 1% 51%)
 }
.paytone-one {
  font-family: 'Paytone One', sans-serif;
}
.fnt-inter {
  font-family: 'Inter', sans-serif;
}
.font-montserrat {
  font-family: 'Montserrat', sans-serif;
}
.liniar-grad {
  background: linear-gradient(90deg, #10186D 0%, #1E2AAE 100%) !important;
}
.hero {
  background-image: url(/images/showcase.png);
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center bottom;
}
.box-shadow {
  box-shadow: 0px 4px 4px 0px #00000040;
}

.uz::before {
  content: "";
  width: 100px;
  height: 100px; 
  background-color: red;
  background: url(/images/uzbekistan.png);
}
.menu {
  background: rgba(255, 255, 255, 0.15);  
  backdrop-filter: blur(10px);  
  -webkit-backdrop-filter: blur(10px); 
}
.react-international-phone-country-selector button {
  background-color: transparent;
  border: none;
}
.react-international-phone-input {
  background-color: transparent !important;
  border: none !important;
  font-size: 17px !important; 
  font-weight: 400 !important;
  color: #ACA6A6 !important;
}
@media (min-width: 1000px) {
  .hero {
    background-position: center center;
  }
}
@media (max-width: 1024px) {
  .navbar {
    clip-path: polygon(0 0, 100% 0%, 100% 100%, 0 100%, 0% 0%)
  }
}
